.header{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  }


.header__logo{
  padding-top: 34px;
  margin-bottom: 0;
  box-sizing: border-box;
}


@media screen and (max-width: 320px) {
.header{
  margin: 0 auto;
  max-width: 188px;
}
.header__logo{
  max-width: 188px;

}
}