.photo-grid{
  padding: 46px 48px 46px;
  margin: 0 auto;}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  list-style-type: none;
  margin: 0;
  padding:0;
}

.photo-grid__item{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
.photo-grid{
margin: 0;
padding:64px 24px 88px 24px;}
}

@media screen and (max-width: 320px) {
.photo-grid {
grid-template-columns: 1fr;
gap: 10px;
max-width: 288px;
padding:64px 16px 62px 16px;
margin: 0 auto;}
}